@if(!isLoading) {

  <h1 mat-dialog-title>
    @if(data.roleId === undefined) {
      Create Role
    } @else {
      Edit Role
    }

  </h1>

  <div mat-dialog-content>
    <form (ngSubmit)="confirm()">

      <div class="flex-container">
        <div class="flex-item">
          <app-select-department
            [departmentId]="form.get('departmentId')?.value"
            (departmentChanged)="handleDepartmentChange($event)">
          </app-select-department>
        </div>
        <div class="flex-item">
          <app-input
            [label]="'Role Name'"
            [value]="form.get('roleName')?.value || ''"
            (valueChanged)="handleRoleNameChange($event)">
          </app-input>
        </div>
      </div>

    </form>
  </div>

  <div mat-dialog-actions align="end">
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="confirm()">Save</button>
  </div>

} @else {
  <mat-spinner></mat-spinner>
}
