@if(!isLoading) {
  <h1 mat-dialog-title>
    @if(data.departmentId === undefined) {
      Create Department
    } @else {
      Edit Department
    }
  </h1>

  <div mat-dialog-content>
    <form (ngSubmit)="confirm()">
      <app-input
        [label]="'Department Name'"
        [value]="departmentForm.get('departmentName')?.value || '' "
        (valueChanged)="onDepartmentNameChange($event)">
      </app-input>
    </form>
  </div>

  <div mat-dialog-actions align="end">
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="confirm()">Save</button>
  </div>
} @else {
  <mat-spinner></mat-spinner>
}

