@if(!isLoading) {

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Add New Role
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="roleForm" (ngSubmit)="onSubmit()">

        <div class="flex-container">
          <div class="flex-item">
            <app-select-department
              (departmentChanged)="handleDepartmentChange($event)">
            </app-select-department>
          </div>
          <div class="flex-item">
            <app-input
              label="Role Name"
              (valueChanged)="handleRoleChange($event)">
            </app-input>
          </div>
        </div>

      </form>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onSubmit()">Add Role</button>
    </mat-card-actions>
  </mat-card>

} @else {
  <mat-spinner></mat-spinner>
}
