<mat-card>
  <mat-card-header>
    <mat-card-title>
      <!-- Projects -->
    </mat-card-title>
  </mat-card-header>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="openProjectCreateDialog()">Add Project</button>
  </mat-card-actions>

  <mat-card-content>
    @for(projectId of listOfProjectIds; track projectId) {
      <app-project [projectId]="projectId"></app-project>
    } @empty {
      <h3>No Projects Found</h3>
      <p>Get started by creating your first project</p>
    }
  </mat-card-content>
</mat-card>

