<mat-card appearance="outlined">
  <mat-grid-list cols="5" rowHeight="3:1">
    <mat-grid-tile colspan="2">
      <mat-card-title>Projects</mat-card-title>
    </mat-grid-tile>
    <mat-grid-tile colspan="2"></mat-grid-tile>
    <mat-grid-tile colspan="1">
      <button mat-raised-button color="primary" (click)="openProjectCreateDialog()">
        Add Project
      </button>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-card-content>
    @for(projectId of listOfProjectIds; track projectId) {
      <app-project [projectId]="projectId"></app-project>
    } @empty {
      <h3>No Projects Found</h3>
      <p>Get started by creating your first project</p>
    }
  </mat-card-content>
</mat-card>

